<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:include filename="$(find sick_safetyscanners2)/description/urdf/common.xacro" />

  <xacro:macro name="nanoscan3" params="prefix name parent *origin mounting_kit">

    <link name="${prefix}base_link"/>
    
    <link name="${name}">
      <visual>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <mesh filename="package://sick_safetyscanners2/description/meshes/nanoscan3/visual/nanoscan3.dae"/>
        </geometry>
      </visual>
    </link>

    <joint name="${prefix}base_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}" />
      <child link="${prefix}base_link" />
    </joint>

    <joint name="${name}_joint" type="fixed">
      <parent link="${prefix}base_link" />
      <child link="${name}" />
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </joint>

  </xacro:macro>
</robot>
